.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
  z-index: 1;
}

.custom__button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
}
.BorderTop{
  position: absolute;
  width: 1%;
  height: 2px;
  top: 0;
  left: 0;
  background: var(--color-crimson);
  
}

.BorderBottom {
  position: absolute;
  width: 1px;
  height: 2px;
  bottom: 0;
  right: 0;
  background: var(--color-crimson);
}

.custom__button:hover .BorderTop,
.custom__button:hover .BorderBottom {
  width: 100%;
  transition: all 0.5s ease;
}
.custom__button:hover {
  background-color: transparent;
  color: var(--color-crimson);
  border-radius: none;
  
}
  

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 45px;
}

::-webkit-scrollbar {
  width: 9px;
}


::-webkit-scrollbar-track {
  background: rgb(68, 67, 67); 
}
 

::-webkit-scrollbar-thumb {
  background:var(--color-golden); 
}


::-webkit-scrollbar-thumb:hover {
  background: var(--color-crimson); 
}

::-moz-selection { /* Code for Firefox */
  color: var(--color-white);
  background: var(--color-golden);
}

::selection {
  color: var(--color-white);
  background: var(--color-golden);
}

.relative{
  position: relative;
}

.topLeft{
  position: absolute;
  top:0;
  left:50px;
}
.bottomRight{
  position: absolute;
  bottom:0;
  right:50px;
}
.rollingText__fromBottom{
  height: 70px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.line:first-child{
  animation: a 5s infinite;
}

@keyframes a{
  0%{
      margin-top: -5px;
  }
  100%{
      margin-top: -85px;
  }
}

@media screen and (min-width: 2000px) {

  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}
@media screen and (min-width: 650px) {
  .smallDevicesOnly{
    display:none;
  }
}

@media screen and (max-width: 650px) {
  .bigDevicesOnly{
    display:none;
  }
  .smallDevicesOnly{
    display:block;
  }
  .section__padding {
    padding: 4rem 2rem;
  }

  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}